@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

html {
    scroll-behavior: smooth;
}

.container-fluid {
    @apply container mx-auto max-w-screen-2xl px-4 lg:px-8;
}

.title-md {
    @apply text-4xl font-bold;
}

.shadow {
    @apply rounded-md shadow-[5px_5px_0px_0px_rgba(0,0,0,0.8)];
}

@theme {
    --color-primary: var(--color-amber-300);
    --color-vue: #3fb984;
    --color-wp: #20759b;
}

/* Fade transition styles */
.fade-enter-active,
.fade-leave-active {
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    /* transform: translateY(10px); Optional slight vertical movement */
}

.fade-enter-to,
.fade-leave-from {
    opacity: 1;
    /* transform: translateY(0); */
}
